<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: yellow;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Docker Container running inside  EKS Cluster - AUGUST 07th, 2022!!</h1>
      <h3>Deploying Containers into EKS cluster using Jenkins Pipeline !!!!!</h3>
      <br>
       <h2>By Partha Pratim Datta!!!!!</h4>
    </div>
  </body>
</html>
